.login {
    height: 100%;
    background-color: #24313c;
    background-color: #222e38;
    padding: 20%:
}

form input {
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid #e3ffed;
    width: 100%;
    padding-left: 20px;
}

form button {
     width: 100%;
    border: 1px solid #94ffb9;
    border: 1px solid #ffb38a;
    padding-left: 0px;
    background: linear-gradient(270deg, rgba(240, 128, 56, 0) 50%, #94ffb9 50.1%, #94ffb9);
    background: linear-gradient(270deg, rgba(240, 128, 56, 0) 50%, #ffb38a 50.1%, #ffb38a);
    background-size: 300% 300%;
    background-position: 100% 100%;
    transition: 1s;
}

form button:hover {
    background-position: 0% 100%;
    color: black
}

.login form {
    position: relative;
    top: 30%;
    text-align: center;
    color: #555555;
    color: #ffffff;
    padding: 50px;
    padding-top: 10px;
    border-left: 5px solid #3b96ff;
    border-left: 5px solid #ffb38a;
    border-top: 5px solid #8affae;
    border-top: 5px solid #ffb38a;
    border-bottom: 5px solid #ffb38a;
    border-right: 5px solid #ff3030;
    border-right: 5px solid #ffb38a;
}
.header,
footer {
    display: none;
}