.bg-1 {
    background-color: white;
    /* Green */
    color: #ffffff;
    position: relative;
    top: 10%;
    height: 90%;
    background-image: url(../img/bg_valeur.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    padding: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}

.bg-1 h3 {
    color: #ff9393;
    color: #ffadad;
    color: #ce8484;
    color: white;
/*   text-shadow: 1px 1px 5px #000000, 0 0 1em red;*/
    margin: 0;
}

 

.dark-filter {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.37);
    background-color: rgba(0, 0, 0, 0.37);
}

.bg-2 {
    background-color: #474e5d;
    background-color: #ffffff;
    /* Dark Blue */
    color: #ffffff;
    color: #1f1f1f;
    color: #555555;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}

hr {
    border-top: 1px solid #dedede;
}

.bg-2 a {
    color: #cb3023;
}

.bg-2 a:hover {
    color: #2377cb;
}

a>img {
    /*    border: 3px solid #555555;*/
    /*    border: 3px solid #9b9b9b;*/
    /*    border: 3px solid #5787c7;*/
    /*    border: 3px solid #c75757;*/
    box-shadow: 0 0 10px 1px black;
}

a>img:hover {
    box-shadow: 0 0 10px 1px #0076ff;
}

.bg-2 li {
    font-size: 16px;
}


/*glyphicon glyphicon-briefcase*/


/*glyphicon glyphicon-user*/


/*glyphicon glyphicon-book*/