.bg-1 {
    background-color: white;
    /* Green */
    color: #ffffff;
    position: relative;
    height: 100%;
    background-image: url(../img/bg_valeur.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    padding: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}

.bg-1 h3 {
    color: #ff9393;
    color: #ffadad;
    color: #ce8484;
    color: white;
    margin: 0;
}

.dark-filter {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.37);
    background-color: rgba(0, 0, 0, 0.37);
}

.bg-2 {
    background-color: #474e5d;
    background-color: #ffffff;
    color: #ffffff;
    color: #1f1f1f;
    color: #555555;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}

hr {
    border-top: 1px solid #dedede;
}

.bg-2 a {
    color: #cb3023;
}

.bg-2 a:hover {
    color: #2377cb;
}

a>img {
    box-shadow: 0 0 10px 1px black;
}

a>img:hover {
    box-shadow: 0 0 10px 1px #0076ff;
}

.bg-2 li {
    font-size: 16px;
}
